// Colour variables.
$colour__body                : #FFFFFF;
$colour__accent--one         : darken($colour__body, 2.8%);          // #F8F8F8
$colour__accent--two         : darken($colour__body, 5.8%);          // #F0F0F0
$colour__accent--three       : darken($colour__body, 6.5%);          // #EEEEEE
$colour__accent__four        : darken($colour__body, 8.5%);  	     // #E9E9E9
$colour__accent__five        : darken($colour__body, 20%);  	     // #CCCCCC
$colour__accent__six         : darken($colour__body, 25%);           // #C6C6C6
$colour__text--primary       : #111111;
$colour__text--secondary     : lighten($colour__text--primary, 30%); // #4D4D4D 
$colour__text--tertiary      : lighten($colour__text--primary, 60%); // #999999 

// General layout.
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	font-family: "Inter", sans-serif;
	background-color: $colour__body;
	margin: 0 1rem;
	max-width: 600px;
}

footer {
	margin: 2rem 0;
	text-align: center;
}

// Search form.
.search__form {
	background-color: $colour__body;
	width: 100%;
	height: 60px;
	padding-top: 1rem;
	margin-bottom: 3rem;
	display: flex;

	&--container {
		height: 100%;
		width: 540px;
		background-color: $colour__body;
		border-radius: 50px 0 0 50px;
		border: 1px solid $colour__accent--five;
		box-shadow: inset 0 1px 2px $colour__accent--three;
		display: flex;
	}
	&--input {
		height: 80%;
		width: 100%;
		padding-top: 0.225rem;
		margin: auto 0.75rem;
		outline: none;
		border: none;
		font-size: 1rem;
		line-height: 1rem;
		color: $colour__text--primary;

		&::placeholder {
			color: $colour__text--tertiary;
		}	
	}
	&--button {
		height: 100%;
		width: 60px;
		background-color: $colour__accent--one;
		border-radius: 0 50px 50px 0;
		border: 1px solid $colour__accent--five;
		border-left: none;
		outline: none;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition-duration: 80ms;

		&:hover {
			background-color: $colour__accent--two;
			border-color: $colour__accent--six;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
		}
		&:active {
			background-color: $colour__accent__four;
		}	
	}
	&--icon {
		height: 1.5rem;
		width: 100%;
	}
}

// Search results.
.search__result {
    color: $colour__text--primary;
    text-decoration: none;
	flex: 1;

    &--container {
        margin: 2rem 0;
    }

    &--info, &--author {
        color: $colour__text--tertiary;
        font-size: 0.875rem;
        padding-top: 0.5rem;
    }
}

// Video player.
.video {
	&__container {
		position: relative;
		padding-top: 56.25%;
	}
	
	&__player {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translate(0%, +68.359375%);
	}
}

// Responsive.
@import 'responsive';